@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: rgb(18, 102, 180);
  --text-ff: "Roboto", sans-serif;
  --moon-color: rgb(247, 247, 126);
}

* {
  /* outline: 1px solid green; */
}

body {
  @apply bg-black font-(--text-ff) text-white;
}

@utility logoHover {
  @apply scale-150 !opacity-100 [&>p]:opacity-100 [&>svg]:drop-shadow-[0_0_0.1rem_var(--color-primary)];
}

@utility ctaShadow {
  @apply [&>svg]:hover:drop-shadow-[0_0_0.2rem_white];
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility transition-1 {
  transition:
    scale 150ms,
    opacity 150ms;
}

@utility text-shadow {
  text-shadow: 0 0 0.3rem white;
}

@utility logo-lighting {
  text-shadow: 0 0 0.7rem rgba(255, 255, 255, 0.15);
}

@utility transition-w-* {
  transition: width --value([ *]);
}

@utility border-blink-animation {
  animation: blink 0.7s ease-in-out infinite;
}

@keyframes blink {
  50% {
    border-right-color: rgba(255, 255, 255, 0);
  }
}
