@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: rgb(18, 102, 180);
  --text-ff: "Roboto", sans-serif;
}

* {
  /* outline: 1px solid green; */
}

body {
  @apply bg-black font-(--text-ff) text-white;
}

@utility logoHover {
  @apply scale-150 !opacity-100 [&>p]:opacity-100 [&>svg]:drop-shadow-[0_0_0.1rem_var(--color-primary)];
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility transition-1 {
  transition:
    scale 150ms,
    opacity 150ms;
}
